a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*https://www.b3multimedia.ie/beautiful-color-gradients-for-your-next-design-project/*/
.wholePage {
    background-color: white;
    background-image: linear-gradient(to right, #868F96, #868F96, #596164, #868F96, #868F96);
    /*background-image: linear-gradient(to right, #D0A384, #d6bda4);*/
    margin: 0;
}

.header {
    background-color: #29B6F6;
    height: 80px;
    border-bottom: 5px solid black;
}

.footer {
    background-color: transparent;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.homeButton {
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    height: 80px;
    width: 100px;
    margin-left: 20px;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 75px;
}

.socialsImg {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 65px;
    border: 0px solid black;
}

.headerButtons-container {
    display: flex;
    position: fixed;
    left: 35%;
    top: -1%;
}

.textCenterVertically {
    margin-left: 10px;
}

.text-container {
    display: flex;
    position: fixed;
    left: 40%;
}

.homeButtonToNewPage {
    cursor: pointer;
    border: 5px solid black;
    background-image: linear-gradient(to right, #1D2671, #662D8C);
    height: 100px;
    width: 600px;
    margin-top: 50px;
    color: white;
    position: relative;
    margin-right: 200px;
}

.gridButtonsText {
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.newsAndUpdates {
    /*border: 5px solid #FFD700;*/
    border: 5px solid black;
    width: 150%;
    margin-left: 10%;
    height: 650px;
    background-color: #FAF9F6;
}

.separatorLine {
    height: 665px;
    border: 1px solid black;
    width: 5px;
    background-color: black;
    margin-left: 70%;
}

.twoColumns {
    border: 1px solid red;
    height: 75vh;
}

#magicPage {
    width: 90%;
}

#magicPage td {
    width: 2000px;
}

#magicPage {
    border: 1px solid blue;
}

#magicPage {
    margin-top: 1%;
    margin-left: 5%;
}